body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 30px;
    line-height: 1.4;
}

.clase-titulo {
    color: #e91e63;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 30px;
}

.texto-tachado-neon {
    color: #3f51b5;
    text-transform: uppercase;
    text-decoration: line-through;
    text-decoration-color: #3f51b5;
    text-shadow: 0 0 5px #ff80ab, 0 0 10px #ff80ab;
    text-align: right;
    font-size: 16px;
    letter-spacing: 2px;
}

.prueba-sombra {
    color: #fff;
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    text-shadow: 2px 2px 0px #f4d03f, 4px 4px 5px rgba(0,0,0,0.2);
    margin-top: 40px;
}

.bloque-parrafos p {
    margin-bottom: 15px;
    text-align: justify;
}

.p-italica {
    font-style: italic;
    color: #333;
}

.p-negrita-italica {
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.p-pequeno {
    font-size: 11px;
    color: #555;
}

.p-claro {
    color: #bdc3c7;
}

.p-cursiva-final {
    font-family: 'Dancing Script', cursive; /* Fuente elegante tipo manuscrita */
    font-size: 18px;
    color: #2c3e50;
}
